$bg-color: #333;
$font-color: #fff;
$dark-overlay: rgba(0,0,0,0.7);
$blue-color: #008ed6;

// HOME
#home-section {
  background: url("../assets/images/home-overlay.jpg") no-repeat;
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed;
}
.dark-overlay {
  background-color: $dark-overlay;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
}
.home-inner {
  padding-top: 150px;
}
.fa-check {
  background-color: white;
  color: black;
  border-radius: 4px;
  padding: 5px;
}

// EXPLORE
#explore-section {
  background: $bg-color;
}
#explore-connect-section {
  background: white;
}
// #image-phone {
//   background: url("assets/images/phone.jpeg");
//   min-height: 500px;
//   background-size: cover;
//   background-attachment: fixed;
// }

// CREATE
#create-section {
  background: $blue-color;
}
#create-passion-section {
  background: $bg-color;
}