.dropdown-menu {
  right: 0;
  left: auto;
}

// SIDEBAR
.sidebar-container .sidebar-ul li {
  cursor: pointer;
}

.sidebar-hover:hover {
  background-color: #7a8272;
  color: white;
}

.sidebar-container {
  background-color: #F5F5F5;
}
